<title>Thymeleaf Async Example</title>

<link rel="icon" type="image/ico" th:href="@{/resources/images/favicon.ico}" />

<!-- jQuery Library -->
<script type="text/javascript" th:src="@{/resources/libs/jquery/jquery-1.7.2.js}"></script>
<script type="text/javascript" th:src="@{/resources/libs/jquery/jquery.atmosphere.js}"></script>
<script type="text/javascript" th:src="@{/resources/libs/jquery/jquery-ui-1.8.14.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/libs/jquery/jquery.jeditable.mini.js}"></script>
<script type="text/javascript" th:src="@{/resources/libs/jquery/jquery.validate.min.js}"></script>


<!-- Twitter Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/resources/libs/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/libs/bootstrap/css/bootstrap-responsive.css}" />
<script type="text/javascript" th:src="@{/resources/libs/bootstrap/js/bootstrap-tooltip.js}"></script>
<script type="text/javascript" th:src="@{/resources/libs/bootstrap/js/bootstrap-popover.js}"></script>
<script type="text/javascript" th:src="@{/resources/libs/bootstrap/js/bootstrap-dropdown.js}"></script>

<!-- Knockout -->
<script type="text/javascript" th:src="@{/resources/libs/ko/knockout-2.1.0.js}"></script>

<!-- CustomJS -->
<script type="text/javascript" th:src="@{/resources/javascript/subscribe.js}"></script>

<!-- Core StyleSheet -->
<link rel="stylesheet" type="text/css" th:href="@{/resources/styles/main_style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/resources/styles/padding.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/resources/styles/colours.css}"/>

